@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;700&family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #2f2e41;
  --color-green: #00bfa6;
  --color-white: #ffffff;
  --color-gray: #c2c2c2;

  --title-font: "JetBrains Mono", monospace;
  --text-font: "Open Sans", sans-serif;
}

body {
  background: var(--bg-color);
  width: 1280px;
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1100px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

nav ul {
  display: flex;
  gap: 64px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--title-font);
}

section {
  display: flex;
  justify-content: space-between;
}

.content {
  width: 600px;
}

.content h1 {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 60px;
  color: var(--color-white);
}

.content h1 span {
  color: var(--color-green);
}

.content p {
  text-align: center;

  font-family: var(--text-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: var(--color-gray);
}

.content p:nth-child(2) {
  margin-bottom: 30px;
}

.content p strong {
  font-weight: 700;
}

.content p span {
  color: var(--color-green);
  font-weight: 700;
}

footer {
  margin-top: 100px;
  text-align: center;
  font-family: var(--title-font);
  color: var(--color-white);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

.line {
  width: 568px;
  border: 1px solid var(--color-green);
  margin: 0 auto;
  margin-bottom: 30px;
}

.padlock {
  position: fixed;
  bottom: 150px;
  left: 400px;
}
